.btnWrapper {
  text-align: center;
  // display: flex;
  display: grid;
  height: 100%;
  align-items: center;
  vertical-align: middle;
}

.outputWrapper {
  height: 550px;
  overflow-y: auto;
  border: 1px solid;
  padding: 10px;
  white-space: pre;
}

.codezone {
  background: transparent !important;
  border: none !important;
}

.buttonRow {
  align-items: center;
}
.buttonIcon {
  padding: 0;
  padding-right: 10px;
}
