.btnWrapper {
  text-align: center;
  // display: flex;
  display: grid;
  height: 100%;
  align-items: center;
  vertical-align: middle;
}

.codezone {
  background: transparent !important;
  border: none !important;
}
