@import "../../../../styles/app";

.dateWrapper {
  width: 100%;
  display: inline-block;
}

.labelText {
  display: flex;
  font-size: 14px;
  padding-bottom: 10px;
}

.datePicker {
  width: 100% !important;
}
