@import "../../../../styles/app";

.transparentButton {  
  color: rgba(244, 244, 245, 0.6);
  &:hover,
  &:focus {
    color: #fff;
  }
  i {
    font-size: 18px;
  }
}

.react-bootstrap-table table tbody tr td {
  padding: 0.3rem !important; 
}