@import "../../styles/app";

.root {
}

.overFlow {
  overflow-x: auto;
}

.mainTableWidget {
  :global {
    .table td {
      border: none;
    }
  }
}

.userPaging {
  display: flex;
  nav {
    margin: auto;
    ul {
      li {
        &.page-item {
          &.active {
            opacity: 0.5 !important;
          }
        }
      }
    }
  }
  button {
    background: #1e213f !important;
    border: #1e213f !important;
    color: #fff !important;
  }
}

.groupPaging {
  display: flex;
  nav {
    margin: auto;
    ul {
      li {
        &.page-item {
          &.active {
            opacity: 0.5 !important;
          }
        }
      }
    }
  }
  button {
    background: #151832 !important;
    border: #151832 !important;
    color: #fff !important;
  }
}
